body {
  font-family: 'Inter', sans-serif;
}

.page {
  max-width:1600px;
  margin:auto;
  padding:50px;
}

.ben-ludwig {
  max-width:1400px;
  margin:auto;
  font-size: 16px;
  text-align: center;
  padding-top: 100px;
}

.intro {
  max-width:1400px;
  margin:auto;
  font-size: 48px;
  text-align: center;
  padding-top:150px;
}

.experience {
  max-width:1400px;
  margin:auto;
  font-size: 48px;
  text-align: center;
  padding-top:40px;
}

.design {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:50px;
  padding-top:150px;
}

img {
  width:100%;
  height:auto;
}

.design-square {
  position: relative;
}

.design-square img {
  border-radius: 20px;
}

.design-square-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  text-align: center;
  color: #fff;
}
